body {
	padding-top: 70px;
}

.calculator-rows {
	margin-left: 70px;
}

.calculator-results {
	margin-left: 70px;
	padding-top: 20px;
	border: 2px solid yellow;
	vertical-align: middle;
	text-align: center;
}

.profile-images img {
	width: 80px;
	border-radius: 5px;
}

.splash-image img {
	width: 300px;
}

.multiplication-table td {
	border: 2px solid black;
	text-align: center;
}



