body {
	padding-top: 70px;
}

.calculator-rows {
	margin-left: 70px;
}

.calculator-results {
	margin-left: 70px;
	padding-top: 20px;
	border: 2px solid yellow;
	vertical-align: middle;
	text-align: center;
}

.blog-images img {
	width: 300px;
}

.blog-images {
	text-align: center;
}

.multiplication-table td {
	border: 2px solid black;
	text-align: center;
}



