body {
	padding-top: 140px;
	background-color: #F2F2F2;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Bungee Inline', cursive;
}

a:hover, a:link {
	text-decoration: none;
}

.calculator-rows {
	margin-left: 70px;
}

.calculator-results {
	margin-left: 70px;
	padding-top: 20px;
	border: 2px solid yellow;
	vertical-align: middle;
	text-align: center;
}

.profile-images img {
	width: 80px;
	height: 90px;
	border-radius: 5px;
}

.splash-image img {
	width: 350px;
}

.multiplication-table td {
	border: 2px solid black;
	text-align: center;
}

.form-spacing {
	margin: 10px;
}

.panel {
	border: 3px solid black;
	padding: 5px;
}

.panel-head {
	font-weight: bolder;
/*	background-color: grey;*/
}