
<h2>Multiplication Table</h2>
<hr>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table multiplication-table">
     		<thead>
     			<tr><th>*</th>
     				{% for x in range(1, 13) %}
	                	<th class="multiplication-table">{{x}}</th>
	                {% endfor %}
     			</tr>
     		</thead>
     		<tbody>       
				{% for y in range(1, 13) %}
	        	    <tr>&nbsp;	                
	                	<th>{{y}}</th>
	                	{% for x in range(1, 13) %}
		                	<td class="multiplication-table">
		                   		{{ x * y }}&nbsp;
		                	</td>
		                {% endfor %}	                    	 
	            	</tr>
				{% endfor %} 
	        </tbody> 
        </table>
    </div>
</div>

