{% extends "base.html" %}

{% block content %}
	<h2>Calculator</h2>
	<hr>
	{% include "includes/calculator-form.html" %}
	<br>
	<div class="row calculator-results">
		{% if calculator_form.operator.data == "+ Add" %}
			{{ math_magic.add_magic }}
		{% endif %}
		{% if calculator_form.operator.data == "- Subtract" %}
			{{ math_magic.subtract_magic }}
		{% endif %}
		{% if calculator_form.operator.data == "* Multiply" %}
			{{ math_magic.multiply_magic }}
		{% endif %}
		{% if calculator_form.operator.data == "/ Divide" %}
			{{ math_magic.divide_magic }}
		{% endif %}
	</div>

{% endblock %}