{% extends "base.html" %}

{% block content %}
    <h2>Super Swiss</h2>
    <hr>
    <ul>
        <li><a href="{{ url_for('word_counter') }}">Word Counter (and more)</a> </li>
        <li><a href="{{ url_for('times_table')}} ">Times Table</a></li>
        <li><a href="{{ url_for('calculator')}} ">Calculator</a></li>
    </ul>

<div class="row row-images">
    <div class="col-md-4 blog-images">
        <a href="https://billbunkum.github.io/blog.html">
        <img src="https://3.bp.blogspot.com/-RXYJsZXgLOA/TraweTAhNOI/AAAAAAAAAMk/H3K3WWZvWb0/s113/Bill_flatmate_2011_04.jpg">
        Bill Bunkum</a>
    </div>
    <div class="col-md-4 blog-images">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR-8PltG_xq3uEwdrVV6eCRMqBLkhSrF-zq7XGabiptCtVaV8QIig">
    </div>
    <div class="col-md-4 blog-images">
        <a href="https://kellyinnovation.github.io/blog">
        <img src="https://kellyinnovation.github.io/peacockNecklace.jpg">
        Kelly Wright </a>
    </div>
</div>


{% endblock %}
