{% extends "base.html" %}

{% block content %}
    <h2>Super Swiss</h2>
    <hr>

<div class="row row-images">
    <div class="col-md-4 blog-images">
        <a href="https://billbunkum.github.io/blog.html">
        <img src="http://2.bp.blogspot.com/-Ek5WBDVFM1M/TmP5nGwoeAI/AAAAAAAAAKk/F53lL6kBpVw/s320/3menPlayPai_jian2010.jpg">
        Bill's Blog</a>
    </div>
    <div class="col-md-4 blog-images">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/94/ab/ce/94abce1e7b63e752b045a55875a97769.jpg">
    </div>
    <div class="col-md-4 blog-images">
        <a href="https://kellyinnovation.github.io/blog">
        <img src="https://kellyinnovation.github.io/peacockNecklace.jpg">
        Kelly's Blog</a>
    </div>
</div>


{% endblock %}
