{% extends "base.html" %}

{% block content %}

    <!--{% for person in rando.rando_list %}-->
        <div class="thumbnail">
            <div class="caption">
                <h2>
                    <img src="{{ rando.picture }}">
                </h2>
                <table class="table-striped">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ rando_list.title}} {{rando_list.first}} {{rando_list.last }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{rando_list.email}}</td>
                        </tr>
                        <tr>
                            <td>Cell Phone</td>
                            <td>{{rando_list.cell}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{rando_list.gender}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!--{% endfor %}-->

{% endblock %}