{% extends "base.html" %}

{% block content %}

    {% for item in rando_list %}
        <div class="panel">
            <div class="panel-head">
                Name:  {{ item.title}} {{item.first}} {{item.last }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ item.picture }}">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            Email:  {{item.email}}
                        </div>
                        <div class="row">
                            Cell Phone:  {{item.cell}}
                        </div>
                        <div class="row">    
                            Gender:  {{item.gender}}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    {% endfor %}
    

    

{% endblock %}